/* font-family link  */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Play:wght@400;700&family=Playfair+Display+SC:wght@400;700;900&family=Playfair:ital,opsz@0,5..1200;1,5..1200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Play:wght@400;700&family=Playfair+Display+SC:wght@400;700;900&family=Playfair:ital,opsz@0,5..1200;1,5..1200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Outfit:wght@100..900&family=Play:wght@400;700&family=Playfair+Display+SC:wght@400;700;900&family=Playfair:ital,opsz@0,5..1200;1,5..1200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap");
/*   font-family: "Poppins", sans-serif; */
/* font-family: "Kaushan Script", cursive; */
/* font-family: "Outfit", sans-serif; */

/* reset code  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}
/* common color css variable */

:root {
  --white: #fff;
  --black: #000;
  --lColor: #fd00fd;
  --turColor: #00eeff;
  --kaushanFont: "Kaushan Script", cursive;
  --popFont: "Poppins", sans-serif;
  --outfitFont: "Outfit", sans-serif;
}

body {
  background-color: #e3e6e6;
}

/* ============== Navbar Section Start Here ================== */
a {
  text-decoration: none;
  color: inherit;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131921;
  padding: 10px 20px;
  color: #fff;
}

.nav-country {
  display: flex;
  align-items: end;
  margin-left: 15px;
  font-size: 14px;
  color: #c4c4c4;
  h4 {
    margin-top: -1rem;
    color: var(--white);
  }
}

.search-nav {
  height: 40px;
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-left: 10px;
  max-width: 800px;
  border-radius: 4px;
  color: gray;
  .search-item {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    gap: 5px;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    background-color: #ddd;
    p {
      font-family: var(--outfitFont);
      color: #000;

      margin-top: 1rem;
      font-size: 1rem;
    }
  }
  .input-search {
    letter-spacing: 1px;
    border: none;
    outline: none;
    width: 100%;
    margin-left: 20px;
  }
  .search-icon {
    max-height: 40px !important;
  }
  .search-icon-style {
    background-color: #febd69;
    padding: 10px;
    color: #000;
    height: 40px;
    border-radius: 0 4px 4px 0;
  }
}
.flag {
  display: flex;
  align-items: end;
  justify-content: center;
  /* align-items: center; */
  img {
    width: 25px;
  }
  span {
    margin-left: 3px;
    font-size: 1rem;
  }
  .dropdown-img {
    margin-left: 5px;
    width: 15px;
  }
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  .account-item {
    p {
      margin-bottom: -3px;
    }
    span {
      font-weight: 600;
      font-size: 1rem;
    }
    img {
      width: 15px;
    }
  }
}

.return {
  p {
    margin-bottom: -3px;
  }
  span {
    font-weight: 500;
    font-size: 1rem;
  }
}

.card-section {
  display: flex;
  align-items: end;
  img {
    width: 40px;
  }
  span {
    margin-top: 1rem;
    font-weight: 500;
  }
}
/* ============== Navbar Section End Here ================== */

/* ============== Sub-Navbar Section Start Here ============== */
.sub-navbar-container {
  background-color: #232f3e;
  .sub-content {
    margin: 0 1rem;
    padding: 10px 0;
    display: flex;
    align-items: center;
    span {
      font-family: var(--outfitFont);
      font-weight: 500;
      margin-left: 5px;
      margin-right: 0.6rem;
    }
    a {
      color: var(--white);
      font-family: var(--outfitFont);
      font-weight: 400;
      font-size: 15px;
      display: flex;
      align-items: center;
      margin-right: 14px;
    }
    a:hover {
      border: 1px solid #fff;
      padding: 2px 5px;
      border-radius: 4px;
    }
  }
}
/* ============== Sub-Navbar Section End Here ============== */

/* ============= Heading Slider Start Here ================= */
.heading-slider ul {
  display: flex;
  overflow-y: hidden;
}
.heading-slider::-webkit-scrollbar {
  display: none;
}
.heading-slider {
  position: relative;
}
.heading-slider ul img {
  max-width: 100%;
  margin-left: -15px;
}
.control {
  font-size: 3rem;
  color: rgb(72, 72, 72);
  background-color: #dfdfdf8a;
}
.control:hover {
  border: 2px solid #fff;
  border-radius: 5px;
}
.prev {
  position: absolute;
  left: 4rem;
  top: 4rem;
  padding: 20px 10px;
}
.next {
  position: absolute;
  right: 4rem;
  top: 4rem;
  padding: 20px 10px;
}
/* ============= Heading Slider End Here ================== */

.container-fluid {
  .row-container {
    margin-top: -25rem;
  }
  .card-container {
    /* height: 600px; */
    border-radius: 5px;
    border: 2px solid #ddd;
    background-color: var(--white);
    cursor: pointer;
    h5 {
      color: #444444;
      margin: 8px;
    }

    img {
      border-radius: 5px;
      width: 100%;
    }
    a {
      display: inline-block;
      margin: 10px 0 5px 10px;
      transition: all 0.3s;
      font-family: var(--outfitFont);
      font-weight: 400;
    }
    a:hover {
      color: #d47953;
    }
  }
}

.best-sellers-container {
  position: relative;
  margin-top: 2rem;
  h2 {
    font-family: var(--outfitFont);
    /* margin-left: 1.5rem; */
    font-size: 1.5rem;
  }
  .best-seller-content {
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
    gap: 20px;
  }
  .best-seller-content img {
    max-width: 200px;
    max-height: 200px;
    /* border: 2px solid #ddd; */
  }
  /* .prev-btn {
    position: absolute;
    left: 0;
    top: 50%;
  }
  .next-btn {
    position: absolute;
    right: 0;
    top: 50%;
  } */
}

/* ============ Shop activity Section Start Here ============ */
.shop-activity-container {
  margin: 0 3rem;
  .card-contai {
    /* margin: 0 2rem; */
    h5 {
      font-family: var(--outfitFont);
      font-size: 1.3rem;
      margin-bottom: 8px;
    }
    img {
      width: 330px;
    }
  }
}

/* ============== Deals Under Section Start Here =============== */
.Deals-under-section {
  margin: 0 3rem;
  margin-top: 2rem;
  .heading {
    /* margin-bottom: 1rem; */
    h3 {
      font-size: 1.4rem;
    }
  }
}
.deals-product-container {
  display: flex;
  overflow-x: auto;
  .deals-content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
    width: 400px;
    height: 400px;
    /* img {
      width: 200px;
      height: 250px;
    } */
  }
}
.deals-product-container .deals-content {
  .data-text {
    margin-top: 1rem;
    .price {
      background-color: red;
      padding: 2px 5px;
      color: var(--white);
      font-family: var(--outfitFont);
      font-weight: 400;
      font-size: 0.8rem;
    }
    .limit {
      color: rgb(215, 0, 0);
      font-family: var(--outfitFont);
      font-weight: 400;
      font-size: 0.9rem;
    }
    .num {
      display: inline-block;
      margin-top: 0.5rem;
      font-size: 1.4rem;
      font-weight: bold;
      font-family: var(--outfitFont);
    }
    .list {
      font-family: var(--outfitFont);
      font-size: 0.9rem;
      color: rgb(103, 103, 103);
    }
    .lost {
      text-decoration: line-through !important;
      color: rgb(76, 76, 76);
    }
    p {
      font-family: var(--outfitFont);
      font-size: 1rem;
      font-weight: normal;
      color: #444444;
    }
  }
}

/* ============== Deals Under Section End Here =============== */

/* ================= Footer Section Start Here ===============*/
.footer-section {
  background-color: #232f3e;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
  margin: 2rem 0;
  color: var(--white);
  font-family: var(--outfitFont);
  font-size: 1rem;
  text-align: center;
  img {
    width: 200px;
  }
  p {
    margin-top: 0.6rem;
  }
  button {
    padding: 8px 3rem;
    align-items: center;
    border-radius: 2rem;
    font-size: 1.4;
  }
}
/* ================= Footer Section End Here ===============*/

/* ================ Responsive Design Start Here ================*/
@media only screen and (max-width: 900px) {
  .navbar-container {
    .nav-country,
    .flag {
      display: none;
    }
  }
  .search-nav {
    order: 7;
    width: 200px;
  }
  .container-fluid {
    margin-top: 20rem;
    .my-card-size {
      display: flex;
      justify-content: center;
    }
    .card-container {
      width: 350px;
      margin-bottom: 2rem;
    }
  }
  .shop-activity-container .my-card-contai {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .shop-activity-container .card-contai {
    h5 {
      margin: 1rem 0;
    }
  }
}
@media only screen and (max-width: 600px) {
  .navbar-container {
    .search-nav {
      display: none;
    }
    .flag,
    .account,
    .return {
      display: none;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .container-fluid {
    margin-top: 10rem;
  }
}
@media only screen and (max-width: 700px) {
  .container-fluid {
    margin-top: 20rem;
  }
}
/* ================ Responsive Design End Here ================*/
